$font-family: 'Lato', sans-serif;
$min-font-size: 13px;
$primary-color: #3E9CDC;
$secondary-color: #2A2B30;
$secondary-color-light: #BBBBBB;
$secondary-color-inactive: #C3C3C3;
$accent-color-dark: #000000;
$accent-color-light: #FFFFFF;
$content-width: 1170px;