@mixin reset-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

@mixin flex($gap) {
  display: flex;
  gap: $gap;
}

@mixin flex-row($gap) {
  @include flex($gap);
  flex-direction: row;
}

@mixin flex-column($gap) {
  @include flex($gap);
  flex-direction: column;
}

@mixin flex-row-centered($gap) {
  @include flex-row($gap);
  justify-content: center;
  align-items: center;
}

@mixin flex-row-dist($gap) {
  @include flex-row($gap);
  justify-content: space-between;
  align-items: center;
}

@mixin flex-column-dist($gap) {
  @include flex-column($gap);
  justify-content: space-between;
  align-items: center;
}

@mixin horizontal-align {
  margin: 0 auto;
}

@mixin text-uppercase {
  text-transform: uppercase;
}

@mixin smooth-animation {
  transition: all 0.3s ease-in;
}